#sales-page {
  background-color: lemonchiffon;
}

#public-page {
  background-color: bisque;
}

#salmon-cookies-heading {
  font-size: 45px;
  color: saddlebrown;
  text-align: center;
}

#hourly-sales-heading {
  font-size: 45px;
  color: darkslategrey;
  text-align: center;
}

#cookie-table {
   margin-left: auto;
   margin-right: auto;
   border: 8px double darkslategrey;
}

th {
  padding: 10px;
  border-bottom: 3px solid darkslategrey;
}

td {
  padding: 10px;
  border: 1px solid darkslategrey;
}

#store-name {
  font-weight: bold;
}

#total-per-store {
  font-weight: bold
}

#hourly-totals {
  font-weight: bold;
}

#new-location-form {
  margin: 15px;
}

legend {
  font-size: 20px;
  font-weight: bold;
}

label, input {
  display: block;
  margin: 3px;
  padding: 2px;
}

#add-button {
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 3px;
}

.salmon-pic {
  width: 125px;
  margin: 10px;
  transform: rotate(-25deg);
}

#right-salmon-pic {
  float: right;
}

#navigation {
  display: flex;
  justify-content: center;
}

#navigation li {
  list-style-type: none;
  display: inline-block;
  margin: 20px;
}